@import '@/styles/globals-var.scss';

.CTH-sm-lesson {
	color: $g-300;
	margin-bottom: 20px;
	button {
		color: $g-300;
	}
	button:hover {
		color: $p-400;
	}
}
.CTH-time-box {
	font-size: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	// width: 70px;
	height: 70px;
	background-color: $primary;
	color: $primaryText;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
}
.CTH-btn {
	// width: 40px;
	border: none;
	background-color: transparent;
}
