@import '@/styles/globals-var.scss';

.CTH-banner {
	width: 100%;
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: no-repeat linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
		url('/photos/background/bg-teacher.png');
	background-size: 100% 100%;
	border-radius: 0 0 25px 25px;
}

.banner-left {
	.image {
		border-radius: 50px;
	}
}
.banner-right {
	text-align: center;
	font-size: 60px;
	margin-top: -50px;
	color: $p-800;
	text-shadow: -1px -1px 0 $primary, 2px -1px 0 $primaryText, -1px 1px 0 $primaryText,
		1px 1px 0 $primaryText;
}

.content {
	display: flex;
	button {
		color: $primaryText;
	}
	button:hover {
		color: $p-50;
	}
}

.CTH-btn {
	width: 40px;
	border: none;
	background-color: transparent;
}

@media (max-width: 375px) {
	.banner-right {
		font-size: 32px;
	}
}
