@import '@/styles/globals-var.scss';

.CTH-banner {
	width: 100%;
	margin: auto;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: no-repeat center url('/photos/background/bg-lesson-banner.png');
	background-size: cover;
	// background: pink;
}

.content {
	display: flex;
	button {
		font-size: 24px;
	}
}
.switch {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	margin: auto;
	text-align: center;
	border-radius: 0 0 50px 50px;
	background-color: pink;
	height: 80px;
}

.banner-left {
	.image {
		border-radius: 50px;
		margin-left: 220px;
	}
}
.banner-right {
	text-align: center;
	font-size: 48px;
	-webkit-text-stroke: 0.5px white;
	color: transparent;
}
