@import '@/styles/globals-var.scss';

.filter-keywords {
	height: 100%;
	border: 1px solid $primary;
	width: 295px;
	padding: 5px 10px;
	border-radius: 100px;
	color: $primary;
	outline-color: $primary;
	&:focus {
		border: 1px solid $primary;
	}

	&::placeholder {
		color: #fe6f67;
	}
}

.filter-search {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: $primaryText;
	margin-left: 20px;
	border: transparent;
	box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.25);

	&-icon {
		color: $g-400;
		width: 25px;
		height: 25px;
	}
}
