@import '@/styles/globals-var.scss';

/*購物車用*/
.ZRT-cartArea {
	border: 2px solid $g-300;
	padding: 15px 0;
	margin-bottom: 20px;
	// box-shadow: 0 0 5px $g-100;
	transition: 1s;

	&:hover {
		border: 2px solid $g-500;
	}
}

.ZRT-shopName {
	display: inline-block;
	padding: 0 10px;
	h4 {
		display: inline-block;
		margin-left: 5px;
	}
}
.ZRT-total {
	font-weight: 700;
	background-color: white;
}

.ZRT-tHead {
	background-color: $p-300;
	color: $primaryText;
	font-weight: 900;

	font-size: 16px;
}

@media (max-width: 768px) {
	.ZRT-tHead {
		font-size: 12px;
	}
}
