.paginationContainer {
	margin-top: 50px;
	width: auto; /* 自動寬度適應內容 */
	height: 40px;
	display: flex;
	justify-content: center; /* 讓按鈕和頁數居中 */
	align-items: center;
	gap: 10px; /* 設定按鈕和頁數之間的間距 */
}

.paginationButton {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid transparent; /* 白色邊框 */
	background-color: transparent; /* 無填色 */
	border-radius: 50%; /* 圓形按鈕 */
	transition: transform 0.2s;
}

.paginationButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.paginationButton:hover {
	transform: scale(1.1);
}

.pageNumber {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid; /* 白色邊框 */
	border-radius: 50%; /* 圓形 */
	font-size: 16px;
	font-weight: bold;
	background-color: transparent; /* 無填色 */
}
