@import '@/styles/globals-var.scss';

.teacherPage {
  padding: 5px;
  color: $primary;
  overflow: visible;
}

.teacherTable {
  width: 100%;
  border-collapse: collapse;
}

.teacherTitle {
  background-color: $primary;
  color: white;
  text-align: center;
}

.teacherTable th,
.teacherTable td {
  text-align: center;
  padding: 6px;
  font-size: 16px;
  border-bottom: 1px solid $primary;
}

.teacherTable td {
  height: 105px;
  text-align: center;
  padding: 6px;
  font-size: 16px;
  border-bottom: 1px solid $primary;
  vertical-align: middle; 
}


.teacherImage {
  width: 105px;
  height: 105px;
  object-fit: contain;
  border-radius: 50%;
  border: 5px solid $primary;

  &:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
  }
}

.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
