.teacherPage {
  padding: 20px;
  // width: 100%;
  color:#f4a293 ;
}
.actionButton {
  background-color: #f4a293; // 按鈕背景顏色
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 18px; // 增加圖標大小
  cursor: pointer;
  margin: 0 2px;
  color: white; // 使按鈕內的圖標變成白色

  &:hover {
    background-color: #f5a299; // 當滑鼠懸停時，按鈕背景的顏色變化
  }
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 60px;
}

.searchInput {
  flex: 1; /* 讓輸入框填滿剩餘空間 */
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #f4a293;
  font-size: 16px;
}

.searchButton {
  background-color: #f4a293;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; 
  height: 40px;
}

.statusTabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.statusTabs button {
  background-color: transparent;
  border: 1px solid #f4a293;
  color: #f4a293;
  padding: 8px 15px; /* 增加內距 */
  border-radius: 10px;
  font-size: 16px; /* 增加字體大小 */
  cursor: pointer;
}

.statusTabs .activeTab {
  background-color: #f4a293;
  color: white;
}

.teacherTable {
  width: 100%;
  border-collapse: collapse;
}

.teacherTable th,
.teacherTable td {
  text-align: center;
  padding: 20px; /* 增加內距 */
  font-size: 16px; /* 增加字體大小 */
  border-bottom: 1px solid #f4a293;
}

.teacherImage {
  width: 150px; 
  height: 150px;
  object-fit: contain;
  border-radius: 50%;
  border: 5px solid #f4a293;
}

.actionButton {
  background-color: #f4a293;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 18px; /* 增加圖標大小 */
  cursor: pointer;
  margin: 0 2px;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
