@import '@/styles/globals-var.scss';

.teacherPage {
	height: 100%;
	padding: 5px;
	color: $primary;
	overflow: visible;
}

.teacherTable {
	width: 100%;
	border-collapse: collapse;

	tbody tr {
		transition: background-color 0.3s ease; /* 添加平滑過渡效果 */
	}

	tbody tr:hover {
		background-color: $secondary2; /* 當鼠標懸停時，背景顏色變為 secondary2 */
	}
}

.teacherTitle {
	background-color: $primary;
	color: white;
	text-align: center;
}

.teacherTable th,
.teacherTable td {
	text-align: center;
	padding: 6px;
	font-size: 16px;
	border-bottom: 1px solid $primary;
}

.teacherTable td {
	height: 105px;
	text-align: center;
	padding: 6px;
	font-size: 16px;
	border-bottom: 1px solid $primary;
	vertical-align: middle;
}

.teacherImage {
	width: 105px;
	height: 105px;
	object-fit: contain;
	border-radius: 50%;
	border: 5px solid $primary;

	&:hover {
		transform: scale(1.2);
		transition: transform 0.3s;
	}
}

.paginationContainer {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
