@import '@/styles/globals-var.scss';

.LYT-h1 {
	color: $g-300;
}
.LYT-timePicker {
	color: $primary;
	h5 {
		margin-left: 16px;
	}
}
.LYT-input {
	width: 100%;
	padding-inline: 14px;
	padding-block: 8px;
	border: 1px solid $primary;
	border-radius: 5px;
	color: $primary;
	outline-color: $g-300;
	box-shadow: none;
	background: transparent;
	&:focus {
		border: 1px solid $g-300;
		box-shadow: none;
	}
}

.LYT-stu {
	color: $primary;
	margin: 8px;
}
.LYT-link {
	color: $primary;
	margin: 5px;
}

.LYT-table {
	background: transparent;
	color: black;
	thead {
		background: $primary;
		color: white;
		width: 100%;
		height: 40px;
	}
	tbody {
		tr {
			margin: 5px;
			height: 60px;

			&:hover {
				background: $p-100;
			}
		}
	}
}

.LYT-space {
	width: 5rem;
}

.LYT-title {
	padding: 0.5rem;
	width: 10rem;
}

.LYT-content {
	width: 45rem;
	margin: 1.5rem;
	text-align: start;
	cursor: pointer;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.LYT-class-info {
	color: $g-300;
}
