.adminContainer {
  display: flex;
  flex-direction: column;
  // height: 100vh;

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10; // 保持在最上層
  }

  .mainBody {
    display: flex;
  }

  .sidebar {
    width: 250px;
    background-color: #fe6f67;
    color: #ffffff;
    height: 100%; // 滿高
    position: fixed;
    top: 60px; // 在 Navbar 下方
    left: 0;
    border-radius: 0 20px 20px 0;
  }

  .content {
    flex-grow: 1;
    margin-left: 270px; // 避開 Sidebar
    padding: 20px;
    overflow-y: auto;
    background-color: #ffffff; // 白色背景
  }
}
