@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans+TC:wght@100..900&display=swap');
@import '@/styles/globals-var.scss';

/* 整個滾輪 */
::-webkit-scrollbar {
	position: absolute;
	width: 8px;
	height: 8px;
}

/* 滾動槽 */
::-webkit-scrollbar-track {
	background: $p-200;
	border-radius: 10px;
}

/* 滾動條 */
::-webkit-scrollbar-thumb {
	background: $primary;
	cursor: pointer;
	border-radius: 10px;
}

/* 滾動條懸停效果 */
::-webkit-scrollbar-thumb:hover {
	background: $secondary;
}

// 使用者選取文字的樣式
::selection {
	background-color: $secondary;
	color: $lp-50;
}

img {
	// 禁止圖片被任意拖拉
	user-drag: none;
	-webkit-user-drag: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	// --bs-body-font-family: $major-text;
	font-family: $major-text;
	font-size: 16px;
	line-height: 1.6;
	color: $g-800;
	min-width: 350px;
	// scroll-behavior: smooth;
}

body {
	/*每個頁面給予至少一個頁面的高度將footer往下撐*/
	min-height: calc(100vh - 190px);
}

.text-Bebas {
	font-family: $text-bebas;
	font-style: normal;
}

.text-Major {
	font-family: $major-text;
}

/*開發模式:用在最上層元素*/
.test-mode,
.test-mode * {
	border: 1px solid #ccc;
}

/*快速置中*/
.ZRT-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

ul {
	list-style: none;
	padding: 0;
}

a:hover,
a:visited,
a:link,
a:active {
	text-decoration: none;
	font-family: $major-text;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: $major-text;
}

h1 {
	font-size: 38px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 12px;
}

h6 {
	font-size: 10px;
}

p {
	font-size: 16px;
}

del {
	color: $note-color;
}

/* 按鈕樣式 */
.ZRT-btn {
	//專案基本按鈕
	border: none;
	padding: 10px 20px;
	font-weight: 700;
	display: inline-block;
	cursor: pointer;
	user-select: none;
}

.btn-pnk {
	// 粉色按鈕
	background-color: $primary;
	color: $primaryText;
}

.btn-gry {
	//灰色按鈕
	background-color: $g-100;
	color: $primaryText;
}

.btn-lpnk {
	//淺粉色按鈕
	background-color: $secondary;
	color: $primaryText;
}

/* 文字樣式 */
.text-pnk {
	color: $primary;
}

/*酷酷的點擊效果；可以搭配按鈕使用*/
.ZRT-click {
	transition: 0.8s;
	user-select: none;
	cursor: pointer;
	&:hover {
		scale: 1.03;
	}
	&:active {
		scale: 0.95;
		transition: 0s;
	}
}

.ZRT-click-fast {
	transition: 0.15s;
	user-select: none;
	cursor: pointer;
	&:hover {
		scale: 1.03;
	}
	&:active {
		scale: 0.95;
		transition: 0s;
	}
}

/*挖空的字*/
.ZRT-hollow-text {
	color: transparent; /* 將文字顏色設為透明 */
	-webkit-text-stroke: 0.5px white; /* 設定描邊顏色和寬度 */
}

/*挖空的白邊字按鈕*/
.ZRT-hollow-whtBtn {
	padding: 7px 14px;
	color: $primaryText;
	border: 1px solid $primaryText;
	letter-spacing: 2px;
	transition: 0.5s;
	&:hover {
		background: rgba(255, 255, 255, 0.2);
	}
}

//.ZRT-ls-1~5 letter-spacing樣式(可以用用看)
$base-spacing: 0.1em;
@for $i from 1 through 5 {
	.ZRT-ls-#{$i} {
		letter-spacing: $base-spacing * $i;
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 12px;
	}

	h5 {
		font-size: 10px;
	}

	h6 {
		font-size: 8px;
	}

	p {
		font-size: 12px;
	}
}
