@import '@/styles/globals-var.scss';

.ZRT-allPage {
	overflow-x: hidden;
}

.ZRT-couponBtn {
	// 優惠券的外容器
	position: fixed;
	bottom: 30px;
	right: 30px;
	cursor: pointer;
	transition: 1s;
	&:hover {
		animation: shake 0.1s infinite alternate;
		animation-timing-function: linear;
	}
	img {
		width: 100px;
		height: 100px;
	}
}

.sec {
	// 每個整頁區塊的統一樣式
	height: 100dvh;
	width: 100%;
	background-color: #f2c9c5;
}

.sec1 {
	background-image: url(/photos/background/bg-section1.png);
	/* background-repeat: no-repeat; */
	background-size: cover;
	background-position: center center;
	position: relative;
	overflow: hidden;

	.snow {
		position: absolute;
		width: 15px;
		height: 15px;
		background-color: #fff;
		border-radius: 50%;
	}
}

.ZRT-scroller {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	rotate: 4deg;
	filter: drop-shadow(0 0 10px $p-600);
	img {
		width: 150px;
		height: 150px;
	}
}

.sec2 {
	background: linear-gradient(to right, #ffd3d5, #ea626c);
	overflow: hidden;
}

.sec3 {
	// background-image: url(/photos/background/bg-section3.png);
	background: linear-gradient(to bottom, #ff9295 70%, #fad3d3);
	overflow: hidden;

	.sec3-wrapper {
		max-width: 1200px;
		width: 100%;
	}
}

.arc {
	filter: drop-shadow(0 10px 10px $p-500);
	height: 500px;
	img {
		height: 100%;
	}

	.tWrapper {
		display: flex;
		flex-direction: row;
		// width: 700px;
		position: absolute;
		top: 180px;
		left: 85px;
	}
}

.sec4 {
	background-image: url(/photos/background/bg-section4.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

@media (max-width: 768px) {
	.ZRT-couponBtn {
		opacity: 0;
		right: -30px;
	}

	.ZRT-scroller {
		img {
			width: 100px;
			height: 100px;
		}
	}
}

@keyframes shake {
	0% {
		rotate: 2deg;
	}
	100% {
		rotate: -2deg;
	}
}
