@import '@/styles/globals-var.scss';
.CTH-sm-lesson-box {
	background-color: $p-50;
	border-radius: 25px;
	display: flex;
	padding: 10px 10px 20px 10px;
	flex-direction: column;
	align-items: center;
	h3 {
		color: $primary;
		margin-bottom: 15px;
	}
}

.CTH-sm-lesson-box-filter {
	width: 50%;
	margin: auto;
	background-color: $p-50;
	border-radius: 25px;
	padding: 10px 10px 20px 10px;
	text-align: center;
	margin-top: 10px;
	h2 {
		color: $primary;
		margin-top: 5px;
	}
}

.CTH-keywords {
	border: 1px solid $primary;
	padding: 5px 10px;
	border-radius: 25px;
	color: $primary;
	outline-color: $primary;
	box-shadow: none;
	&:focus {
		border: 1px solid $primary;
		box-shadow: none;
	}
}

.CTH-banner {
	width: 100%;
	height: 500px;
	margin-top: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: no-repeat url('/photos/background/bg/bg21.jpg');
	background-size: cover;
	border-radius: 0 0 50px 50px;
	overflow: hidden;
	
}

.banner-left {
	margin: 30px;
	position: relative;
	.image {
		border-radius: 25px;
		position: relative;
		object-fit: cover;
	}
	.CTH-lesson-card-icon {
		color: $primary;
		position: absolute;
		top: 5px;
		right: 5px;
		cursor: pointer;
		z-index: 1;
	}
	.CTH-lesson-card-icon:hover {
		color: $p-100;
	}
}
.banner-right {
	width: 30%;
	border-radius: 20px;
	background: rgba(255, 218, 215, 0.05);
	backdrop-filter: blur(5px); 
	padding: 5px;
	h1::before {
		content: '';
		display: inline-block;
		width: 10px;
		height: 36px;
		background-color: $primary;
		margin-right: 8px;
		vertical-align: middle;
	}
	color: $primary;
}

.banner-right-mb {
	h1::before {
		content: '';
		display: inline-block;
		width: 10px;
		height: 36px;
		background-color: $p-100;
		margin-right: 8px;
		vertical-align: middle;
	}
	color: $primaryText;
}

.content {
	display: flex;
	flex-direction: column;
	button {
		color: $primary;
	}
	button:hover {
		color: $p-50;
	}
}

.ZRT-btn {
	// 專案基本按鈕
	background: $primary;
	color: $primaryText !important;
	border: none;
	padding: 10px 20px;
	font-weight: 700;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	border-radius: 5px;
	transition: background-color 0.3s ease, transform 0.3s ease;
  
	&:hover {
	  background: $secondary;
	  transform: scale(1.05); 

	&:active{
	  transform: scale(1); 
	}

	}
  }
  

.CTH-class-info,
.CTH-teacher-content,
.CTH-location-info {
	h2 {
		color: $p-100;
		font-weight: bold;
	}
	line-height: 2rem;
}
.CTH-class-foto {
	.image {
		margin: 5px;
		border: 5px solid $p-50;
		border-radius: 25%;
		object-fit: cover;
	}
}
.CTH-teacher-info {	
	.image {
		width: 230px;
		height: 230px;
		border-radius: 50%;
		background: rgba(239, 225, 224, 0.8);
        backdrop-filter: blur(7.75px);
		border: 10px solid $secondary2;
		object-fit: contain;
		transition: transform 0.3s ease, border-color 0.3s ease;
	  
		&:hover {
		  transform: scale(1.1);
		  border-color: $secondary;
		}
	  
		&:active {
		  transform: scale(0.9);
		  border-color: $secondary;
		}
	  }
}

.CTH-lesson-card {
	h2 {
		font-weight: bold;
		text-shadow: 1px 0px 10px $p-500;
		color: $primaryText;
		padding: 20px;
		text-align: center;
	}
	padding: 20px;
}

.CTH-lesson-card-group {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.CTH-location-info {
	.image {
		width: 100%;
	}
}

.CTH-search,
.CTH-calendar {
	width: 40px;
	height: 40px;
	background-color: $p-200;
	border: transparent;
	box-shadow: 1px 1px 3px gray;
	.CTH-icon {
		color: $primaryText;
		width: 25px;
		height: 25px;
	}
}

@media (max-width: 767px) {
	.CTH-sm-lesson-box {
		display: none;
	}
	.CTH-container {
		background-color: $p-300;
		h2 {
			color: $primaryText;
		}
	}
}
