@import '@/styles/globals-var.scss';

.section-product {
	background-color: lightsteelblue;
	display: flex;
	justify-content: center;
	padding-left: 40px;
	padding-right: 40px;

	.product-container {
		height: 80%;
		margin-top: 150px;
		margin-bottom: 8%;
		max-width: 1200px;
		width: 100%;
		background-color: lightpink;
		display: flex;
		justify-content: space-between;

		.product-photo {
			width: 49.5%;
			height: 100%;

			.photo-container {
				position: relative;
				width: 100%;
				aspect-ratio: 1/1;
				background-color: lightgreen;

				.photo {
					object-fit: cover;
				}
			}
		}

		.product-info {
			width: 49.5%;
			height: 90%;
			background-color: $primary;
			border-radius: 300px 300px 0 0;
			padding-left: 7%;
			padding-right: 7%;
			padding-top: 16%;
			padding-bottom: 4%;

			.product-name {
				width: auto;
				color: $primaryText;
				border-bottom: 4px solid $primaryText;
				padding-bottom: 1.5%;
			}

			.product-description {
				margin-top: 8%;
				line-height: 150%;
				color: $primaryText;
			}

			.product-types {
				margin-top: 8%;
				display: flex;
				justify-content: space-between;

				.product-class {
					margin: 0;
					background-color: $secondary;
					border-radius: 50px;
					color: $primaryText;
					padding-left: 3%;
					padding-right: 3%;
					padding-top: 0.5%;
					padding-bottom: 0.5%;
				}

				.product-tags {
					color: $primaryText;
					margin: 0;
					display: flex;
					align-items: center;

					.tag {
						margin-bottom: 0;
						margin-left: 0.3vw;
					}
				}
			}

			.product-others {
				margin-top: 8%;
				display: flex;
				justify-content: flex-end;
				gap: 3%;
				// height: 32px;

				.stockAmount {
					margin: 0;
					color: $primaryText;
				}
				.shareBtn {
					font-size: 200%;
					color: $primaryText;
				}
			}

			.product-buy {
				margin-top: 8%;
				display: flex;
				justify-content: space-between;

				.price {
					margin: 0;
					color: $primaryText;
					font-weight: 300;
				}
			}

			.addToCart {
				color: $primaryText;
				background-color: $secondary;
				padding-left: 7%;
				padding-right: 7%;
				display: flex;
				justify-content: space-between;
				gap: 3px;
				align-items: center;
				font-size: 18px;
				letter-spacing: 1.5px;
			}
		}
	}
}
