@import '@/styles/globals-var.scss';

.TIL-body {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;

	.sidebar-container {
		min-width: 280px;
		position: relative;
		min-height: 100%;
	}

	.TIL-items {
		display: flex;
		flex-direction: column;
		width: 100%;

		.TIL-content {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			min-height: 700px;
		}
	}
}

@media (max-width: 768px) {
	.sidebar-container {
		display: none;
	}
}
