@import '@/styles/globals-var.scss';

.TIL-body{
  gap:96px
}
.TIL-content{
  display: flex;
  flex-direction: row;
}
.TIL-sideBar {
  width: 21%;
  height: 100vh;
  
  .TIL-List {
    color: $primaryText;
    background-color: $p-300;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 20px;
    
    .TIL-shopMore {
      display: block;
      margin: 0 auto;
      color: $primaryText;
      background-color: $p-200;
      padding: 10px 33px;
      border-radius: 25px;
      border: 1px solid $primaryText;
    }
    
    .TIL-accordion-body {
      display: flex;
      justify-content: center;
    }
  }
}

.TIL-shop-content {
  width: 79%;
  height: 100vh;
  flex-wrap: wrap;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

@media (max-width: 768px) {
	.TIL-sideBar{
		display: none;
	}
  }