.TIL-storeDetailALL {
  display: flex;
  flex-direction: row;
  background-image: url(../public/photos/background/bg-shopDetail.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}
.SideBar {
  width: 20%;
}

.StoreDetails {
  width: 70%;
}

@media (max-width: 375px) {
  .TIL-storeDetailALL {
    display: flex;
    flex-direction: column-reverse;
    background-image: url(../public/photos/background/bg-shopDetail-phone.png);
    padding: 150px 0 0 0; //整個頁面的上層內距
    .SideBar{
      width: 100%;
    }
    .StoreDetails {
      width: 100%;
    }
  }
}
