.teacherPage {
    width: 100%;
    height: 100%;
    background-image: url('/photos/background/bg-teacher.png'); 
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 150px;

    .teacherGridContainer {
        max-width: 1440px;
    }

}


.col{
    display: flex;
    justify-content: center;
    align-items: center;
}