.teacherPage {
    width: 100%;
    height: 100%;
    background-image: url('/photos/background/bg-teacher.png'); 
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 150px;

    .teacherGridContainer {
        max-width: 1440px;
        // display: grid;
        // grid-template-columns: repeat(5, 175px); /* 每行5張卡片 */
        // grid-auto-rows: 297px; /* 卡片的固定高度 */
        // gap: 60px 129px; /* 垂直間距60px，水平間距129px */
        // justify-content: center;
    }

}


.col{
    display: flex;
    justify-content: center;
    align-items: center;
}