@import '@/styles/globals-var.scss';

.centerLine {
	z-index: 100;
	position: fixed;
	left: 50%;
	height: 1000px;
	width: 0px;
	box-shadow: 0 0 0px 1px black;
}

.space-control {
	// width: calc((100% - 200px) / 6);
}

.header {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	// padding: 0 60px;
	/* background-color: #9c9c9c; */
	text-decoration: none;
	color: $primary;
	position: fixed;
	top: 0;
	font-family: $major-text;
	// box-shadow: 0 0px 20px black;
	filter: drop-shadow(0 0px 10px $primary);
	z-index: 10;
}

.leftArea,
.rightArea {
	width: calc(50% - 90px);
	display: flex;
	justify-content: space-between;
}

// .leftArea {
// 	padding-left: 5%;
// 	padding-right: 2%;
// }

// .rightArea {
// 	padding-left: 0%;
// 	padding-right: 3%;
// }

.halfCircle {
	display: inline-block;
	background: white;
	width: 180px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	position: relative;
	top: -5px;
	// left: 20px;
	/* box-shadow: inherit; 內部元素繼承容器的陰影 */
}

.logo {
	position: relative;
	top: 20px;
}

.icons {
	display: flex;
	align-items: center;
}

.icon {
	margin-right: 10px;
}

.bigLink {
	color: $secondary;
}

.smallLink {
	display: none;
	opacity: 0;
}

.navMobile {
	width: 110vw;
	margin-left: -20px;
	display: block;
	background-color: white;
	position: absolute;
	top: 100%;
	right: 0;
	border-top: 1px solid $primary2;
	transition: 0.5s;
	display: none;
}

.navMobileClosed {
	width: 110vw;
	margin-left: -20px;
	display: block;
	background-color: white;
	position: absolute;
	top: 100%;
	right: 0%;
	border-top: 1px solid $primary2;
	opacity: 0;
	transition: 0.5s;
	pointer-events: none;
}

.navList {
	margin-bottom: 0;
}

.navOption {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: right;
	padding-right: 20px;
	box-shadow: 0px 0.2px 0px 0px $primary2;
	transition: 0.5s;
}

.navOptionClosed {
	height: 0px;
	display: flex;
	align-items: center;
	justify-content: right;
	padding-right: 20px;
	box-shadow: 0px 0.2px 0px 0px $primary2;
	opacity: 0;
	transition: 0.5s;
}

.linkText {
	color: $primary;
}

// .mobileLogo {
// 	// position: absolute;
// 	// left: 5%;
// }

// .menuButton {
// 	position: absolute;
// 	right: 5%;
// }

//小天加的
.ZRT-cartIcon {
	position: relative;

	.ZRT-cartNumber {
		font-size: 10px;
		top: -6px;
		right: -15px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: $primary;
		color: $primaryText;
		position: absolute;
	}
}

.WGS-logoutBtn {
	border: none;
	cursor: pointer;
	padding: 0 0 0 20px;
	color: $primary;
	font-size: 14px;
	background: transparent;
}

@media (max-width: 768px) {
	.header {
		height: 65px;
		padding: 20px;
	}

	.leftArea,
	.rightArea {
		display: none;
	}

	.halfCircle {
		display: none;
	}

	.bigLink {
		opacity: 0;
		display: none;
	}

	.smallLink {
		display: inline-block;
		opacity: 1;
	}

	.navMobile {
		display: block;
	}
	.navOption,
	.navOptionClosed {
		.WGS-logoutBtn {
			width: 100%;
			text-align: right;
			padding: 0;
			height: 100%;
			font-size: inherit;
			color: $primary; 
		}
	}
}
