@import '@/styles/globals-var.scss';

$circleSize: 500px;

.TIL-Information-All {
  color: $primaryText;
  width: 100%;
  margin: 250px 60px;
  padding: 41px;
  display: flex;
  flex-direction: column;
  gap: 200px;

  .TIL-shop-Information {
    display: flex;
    flex-direction: row;
  }

  .TIL-shop-left {
    margin: 0 60px;
    border-right: 1px solid $primaryText;

    .TIL-shop-text {
      display: flex;
      margin: 30px;

      & > .TIL-shop-subtitle h3 {
        width: 110px;
      }

      & > .TIL-shop-content {
        padding: 0 26px;
      }
    }
  }
  // 精選商品
  .TIL-Featured-Products {
    margin: 0 0 0 60px;
    position: relative;
    display: flex;
    flex-direction: column;

    .TIL-carousel-desk {
      position: relative;
      width: $circleSize;
      height: $circleSize;
      top: 130px;
      left: 10%;
      margin-bottom: 200px;
      border: 3px dashed $primaryText;
      border-radius: 50%;
      clip-path: ellipse(100% 72% at 50% 0);

      .TIL-carousel-item {
        position: absolute;
        left: 30%;
        top: 30%;
        border: 2px solid $primaryText;
        border-radius: 50%;
        overflow: hidden;
      }
    }

    // arrow
    .TIL-arrow {
      position: absolute;
      top: 120px;

      &.TIL-carousel-prev {
        left: 10%;
      }

      &.TIL-carousel-next {
        right: 46%;
      }
    }

    // carousel-content
    .TIL-item-text {
      position: absolute;
      width: 400px;
      top: 100px;
      right: 0;
      display: flex;
      flex-direction: column;

      .TIL-btn {
        margin: 15px;
        width: 130px;
        border-radius: 25px;
        background-color: $primary;
        align-self: flex-end;
        border: none;
      }
    }
    .TIL-carousel-phone{
      display: none;
    }
  }
}

@media (max-width: 375px) {
  .TIL-Information-All {
    margin: 0;
    padding: 0;
    gap: 30px;
    .TIL-shop-Information {
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
      .TIL-shop-left {
        margin: 17px;
        border: none;
        h1{
          font-size: 22px;
          padding: 0 30px;
          text-align: center;
        }
        .TIL-shop-text {
          flex-direction: column;
          margin: 17px;
        }
        .TIL-shop-subtitle{
          display: none;
        }
        .TIL-shop-content{
          width: 100%;
          text-align: center;
        }
      }
    }
    //精選商品
    .TIL-Featured-Products{
      gap: 20px;
      margin: 0;
      h2{
        text-align: center;
      }
      .TIL-carousel-desk{
       display: none ;
      }
      .TIL-arrow{
        display: none;
      }
      .TIL-carousel-phone{
        display: flex;
        overflow-x: hidden;
        gap: 5px;
        flex-direction: row;
      }
        .TIL-card{
          border: 2px solid $primaryText;
        }
      // 
      .TIL-item-text{
        position: relative;
        width: 100%;
        padding: 0 35px;
        text-wrap: wrap;
        top: 50px;
        .TIL-btn{
          align-self: center;
        }
      }

    }
  }
}
