.TIL-sideBar {
  position: fixed;
  margin-top: 3%;
  left: 8%;
  height: 100vh;
}
.TIL-sideBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.TIL-sideBarCircle {
  margin-top: 25px;
}
.TIL-sideBarImage {
  border-radius: 50%;
}
