@import '@/styles/globals-var.scss';

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.mainDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 90%;
    padding: 0 5%;
    border-bottom: 1px solid $note-color;
}

.centerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pink {
    font-weight: 600;
    color: $secondary;
}

.iconsDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12vw;
    padding-top: 30px;
    padding-bottom: 10px;
}

.facebookIcon {
    font-size: 24px;
    color: $secondary;
}

.commentIcon {
    font-size: 16px;
    border-radius: 50%;
    padding: 5px;
    background-color: $secondary;
    color: white;
}

.instagramIcon {
    font-size: 20px;
    background-color: $secondary;
    color: white;
    border-radius: 6px;
    padding: 2px;
}

.centerText {
    margin-bottom: 0px;
    color: $note-color;
}

.rightDiv {
    display: flex;
    flex-direction: column;
}

.link {
    text-decoration: none;
    color: $note-color;
}

.rights {
    color: $note-color;
    height: 40px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    align-items: center;
}