@import '@/styles/globals-var.scss';

.expandable-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: $p-400;
	color: White;
	padding: 10px;
	border-radius: 10px;
	font-size: 20px;
	cursor: pointer;
	overflow: hidden;
	transition: width 0.3s ease, background-color 0.3s ease, transform 0.1s ease;
	width: 50px;
	height: 50px;
	white-space: nowrap;
	border: 0.1px solid #ffa08f;
	// box-shadow: 5px 5px 10px #fe6f67;

	.icon {
		transition: margin 0.3s ease;
		color: White;
		font-size: 1.5em;
	}

	.button-text {
		display: none; // 初始狀態隱藏文字
		opacity: 0;
		margin-left: 0;
		transition: opacity 0.3s ease, margin-left 0.3s ease;
		font-size: 20px;
	}

	&:hover {
		width: 200px;
		background-color: $p-200;

		.button-text {
			display: block; // hover 時顯示文字
			opacity: 1;
			margin-left: 8px;
		}

		.icon {
			margin-right: 8px;
		}
	}

	&:active {
		transform: scale(0.95);
	}
}

//admin後台新增使用
.add-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: $p-500;
	color: $primaryText;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	transition: width 0.3s ease, background-color 0.3s ease, transform 0.1s ease;
	width: 40px;
	height: 40px;
	white-space: nowrap;

	.icon {
		transition: margin 0.3s ease;
		color: $primaryText;
		font-size: 1.5em;
	}

	.button-text {
		display: none; // 初始狀態隱藏文字
		opacity: 0;
		margin-left: 0;
		transition: opacity 0.3s ease, margin-left 0.3s ease;
		font-size: 20px;
	}

	&:hover {
		width: 150px;
		background-color: $p-200;

		.button-text {
			display: block; // hover 時顯示文字
			opacity: 1;
			// margin-left: 8px;
		}

		.icon {
			margin-right: 8px;
		}
	}

	&:active {
		transform: scale(0.95);
	}
}
