@import '@/styles/globals-var.scss';

// 表格容器
.table-container {
	display: grid;
	grid-template-rows: auto;
	margin-bottom: 10px;
}

// 表格標題行
.table-header {
	display: grid;
	grid-template-columns: 5% 5% 25% 10% 10% 10% 10% 15% 10%;
	background-color: $primary;
	line-height: 35px;
	height: 35px;
	font-weight: bold;
	color: $primaryText;
}

// 表格行
.table-row {
	display: grid;
	grid-template-columns: 5% 5% 25% 10% 10% 10% 10% 15% 10%;
	margin: 8px 0 8px 0;
	height: 47px;
	&:nth-child(even) {
		background-color: #fafafa;
	}

	&:hover {
		background: $secondary2;
	}
}

// 單元格樣式
.table-cell {
	// margin-bottom: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.TIL-Btns {
	display: flex;
	flex-direction: row;
	gap: 10px;
	.TIL-btn {
		width: 100px;
		height: 45px;
		background-color: $primary;
		color: $primaryText;
		text-align: center;
		border-radius: 10px;
		&:active {
			color: $primary;
			background-color: $primaryText;
		}
	}
}

//搜尋篩選樣式
.TIL-benner {
	margin-top: 60px;
	background-color: $p-300;
	border-radius: 0 0 25px 25px;
	h2 {
		position: absolute;
		top: 300px;
		right: 400px;
		font-size: clamp(36px, 5vw, 80px);
		color: #ffbd9f;
		text-shadow: -1px -1px 0 $primaryText, 1px -1px 0 $primaryText, -1px 1px 0 $primaryText,
			1px 1px 0 $primaryText;
		letter-spacing: 5px;
	}
	.TIL-keyWord {
		width: clamp(200px, 50vw, 500px);
	}
}

.TIL-search {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: $primaryText;
	border: transparent;
	box-shadow: 1px 1px 0 $primary;
	.TIL-FaSearch,
	.TIL-FaFilter {
		color: $primary;
	}
}

.CTH-keywords,
.TIL-form-select {
	height: 100%;
	border-radius: 25px;
	border: none;
	color: $primary;
	box-shadow: 1px 1px 0 $primary;
	padding: 0 15px;
	&:focus {
		box-shadow: 3px 3px 0 $primary;
		outline: 2px solid $primary;
	}
}
.CTH-keywords {
	width: 300px;
	height: 100%;
	border: none;
}
