.outerFrame{
    padding: 10px;
    // background: linear-gradient(to right,#fffcfc,#f1c0c7 );
    box-shadow: 5px 5px 10px #C94246;
    position: relative;
}

.innerFrame{
    width: 100%;
    height: 100%;
    // background: linear-gradient(to right,#feeaf0,#f1c0c7);
    // box-shadow: inset 5px 5px 7px #848484ac , inset -5px -5px 8px #fff1f588;
    padding: 20px;
}

.photo{
    width: 100%;
    height: 100%;
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 0.5px solid rgb(233, 233, 233);
    }
}

.scar{
    width: 1px;
    height: 8px;
    background-color: #f38f92;
    position: absolute;
    box-shadow:0 0 3px #E15B60;
}

.scar1{
    top: 3px;
    left: 6px;
    rotate: 315deg;
}

.scar2{
    top: 3px;
    right: 6px;
    rotate: 45deg;
}

.scar3{
    bottom: 3px;
    left: 6px;
    rotate: 45deg;
}

.scar4{
    bottom: 3px;
    right: 6px;
    rotate: 315deg;
}