.content {
	display: flex;
	margin: 20px;
	margin-top: 100px;
	// margin-left: 300px;
	overflow-y: auto;
	background: #5a5a59;
	height: 85vh;
	width: 80%;
	// position: fixed;
	border-radius: 45px;
	justify-content: center;
	color: #fff;
	padding: 20px;

	.innerBox {
		height: 80vh;
		width: 100%;
		overflow-y: auto;
		border-radius: 45px;
		background: #ffffffc5;
	}
}
