@import '@/styles/globals-var.scss';

$card-image-size: 150px;

.TIL-shop-item {
	height: 250px;
	gap: 15px;
	position: relative;
	.TIL-content{
		transition: transform 0.5s ease;
		transform-origin: center;
		&:hover {
			transform: scale(1.2);
			box-shadow: 2px 2px 2px 2px $p-200;
		}

	}
	.TIL-Image-box {
		width: 150px;
		height: 150px;
		.TIL-Image {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			object-fit: contain;
		}
	}
	.TIL-FavortieBox {
		position: absolute;
		width: 20px;
		height: 20px;
		top: -20%;
		right: 6%;
		border: none;
		background-color: transparent;
	}
}


@media (max-width: 375px) {

	.TIL-shop-item .TIL-content .TIL-Image-box {
		width: 100px;
		height: 100px;
	}
}
