@import '@/styles/globals-var.scss';

$card-image-size: 150px;

.TIL-shop-item {
	height: 100%;
	gap: 15px;
	position: relative;
	.TIL-FavortieBox {
		position: absolute;
		width: 20px;
		height: 20px;
		top: -20%;
		right: 6%;
		border: none;
		background-color: transparent;
	}
	.TIL-content {
		gap: 10px;

		transition: transform 0.5s ease;
		transform-origin: center;
		&:hover {
			transform: scale(1.2);
			// box-shadow: 2px 2px 2px 2px $p-200;
			filter: drop-shadow(2px 2px 10px $p-200);
		}
		.TIL-Image-box {
			width: 120px;
			height: 120px;
			.TIL-Image {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				object-fit: contain;
			}
		}
	}
}

@media (max-width: 375px) {
	.TIL-content .TIL-Image-box {
		width: 120px;
		height: 120px;
	}
}
