.TIL-shop-item {
	width: 200px;
	height: 200px;
	position: relative;
	gap: 15px;
}
.TIL-Image-box {
	width: 150px;
	height: 150px;
}
.TIL-Image {
	border-radius: 50%;
	object-fit: contain;
}
.TIL-FavortieBox {
	margin: 20px;
	position: absolute;
	top: -20%;
	right: -10%;
}