@import '@/styles/globals-var.scss';

.TIL-nav{
    margin-top: 60px;
    height: 500px;
    background-color: $p-300;
    border-radius: 25px;
    .TIL-Image{
        width: 100%;
        height: auto;
        position: relative;
    }
    h2{
        position: absolute;
        top: 33%;
        left: 50%;
        font-size: 80px;
        color: #ffbd9f;
        text-shadow: -1px -1px 0 $primaryText,
              1px -1px 0 $primaryText,
              -1px 1px 0 $primaryText,
              1px 1px 0 $primaryText
    }
    .TIL-select{
        position: relative;
        
    }
}