.ProductCard{
    /* border: 1px solid #000; */
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ProductCard .imgBox{
    /* border: 1px solid #000; */
    height: 80%;
    width: 100%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.ProductCard .imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ProductCard .imgBox .heart{
   position: absolute;
   right: 10px;
   bottom: 10px;
   z-index: 5;
   font-size: 25px;
}

.ProductCard .textBox{
    /* border: 1px solid #000; */
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.ProductCard .productName{
    font-weight: 900;
    color:rgb(28, 55, 154);
}

.ProductCard .price{
    font-weight: 900;
    color:red;
}