@import '@/styles/globals-var.scss';
.LYT-card {
	top: 2rem;
	left: 0;
	border: 0;
	margin: -2em 3.5rem 10rem 0;
	width: 260px;
	height: 360px;
	transition: 0.5s;
	background: #00000000;
}

.LYT-card-top {
	border-radius: 25px;
	position: relative;
	.LYT-news-card-img {
		width: 100%;
		object-fit: cover;
		border-radius: 40px;
	}
}
.LYT-card-body {
	display: flex;
	.LYT-card-body-right {
		display: flex;
		justify-content: flex-end;
	}
	button {
		background-color: $primary;
		color: $primaryText;
		position: absolute;
		right: 15px;
		bottom: 10px;
	}
	button:hover {
		background: $p-400;
		color: $primaryText;
	}
}

.LYT-delPrice {
	text-decoration: line-through;
	color: $primaryText;
}
.LYT-price {
	color: red;
}

@media (max-width: 767px) {
	.LYT-card {
		border: 0;
		margin: 0 20px 80px 40px;
		width: 220px;
		height: 320px;
		transition: 0.5s;
	}
	.LYT-card-body {
		margin-top: 10px;
	}
}
