@import '@/styles/globals-var.scss';
.sidebar {
	min-width: 250px;
	background: $primary;
	color: $primaryText;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	justify-content: center;
	align-items: center;

	.navList {
		list-style: none;
		padding: 0;

		.navItem {
			margin: 2rem 0;
			font-size: 1.1rem;
			letter-spacing: 1px;
			font-weight: 200;

			a {
				display: flex;
				justify-content: start;
				align-items: center;
				padding: 10px 15px;
				color: $primaryText;
				border-radius: 8px;
				text-decoration: none;
				transition: background 0.3s, color 0.3s;

				.linkContent {
					display: flex;
					align-items: center;
					gap: 15px;
				}

				&:hover {
					background-color: $p-50;
					color: $primary;
				}
			}
		}
	}
}
