.sidebar {
  width: 250px;
  background-color: #fe6f67;
  /* 主粉色 */
  // background: linear-gradient(180deg, #ffdedb, #ffb1b1); /* 淡粉和淺灰 */
  color: #ffffff;
  /* 深灰色 */
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 85%;
  position: fixed;
  border-radius: 20px;
  margin: 20px;
  margin-top: 100px;

  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #e4e4e4;
    /* 深粉色 */
    text-align: center;
    margin-bottom: 2rem;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .navList {
    list-style: none;
    padding: 0;

    .navItem {
      margin: 1rem 0;

      a {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        color: #ffffff;
        /* 灰色 */
        border-radius: 8px;
        text-decoration: none;
        transition: background 0.3s, color 0.3s;

        .icon {
          font-size: 1.5rem;
          margin-right: 10px;
          color: #ffffff;
          /* 主粉色 */
        }

        &:hover {
          background-color: #ffe6e4;
          /* 淡粉色 */
          color: #333333;
          /* 深灰色 */
        }
      }
    }
  }

  .upgrade {
    margin-top: auto;
    text-align: center;

    .upgradeButton {
      background-color: #fe6f67;
      /* 主粉色 */
      color: #ffffff;
      /* 白色 */
      padding: 10px 20px;
      border-radius: 20px;
      border: none;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background-color: #ad4b46;
        /* 更深的粉色 */
      }
    }
  }
}