@import '@/styles/globals-var.scss';

.TIL-body {
	width: 100vw;
	background-image: url(/photos/background/bg-user.svg);
	background-size: cover;
	background-position: center center;
	padding-top: 120px;
	padding-bottom: 80px;
}
.TIL-userbody {
	max-width: 1200px;
	height: 840px;
	background-color: #ffffff00;
}
.TIL-user-right {
	height: 100%;
	padding: 50px;
	// flex-direction: column;
	// justify-content: space-between
	background-color: #ffffff;
	border-radius: 0px 25px 25px 0px;
}
