@import '@/styles/globals-var.scss';

.ZRT-stepBar {
	width: 100%;
	display: flex;
	padding: 0 20%;
	// padding-inline: 10%;
	justify-content: space-between;
	align-items: center;
}

.ZRT-bar {
	height: 2px;
	flex: 1;
	background: $g-100;
}

@media (max-width: 768px) {
	.ZRT-stepBar {
		padding: 0 3vw;
	}
}

@media (max-width: 410px) {
	.ZRT-btn-style {
		font-size: 12px;
	}
}
