@import '@/styles/globals-var.scss';
.LYT-card {
	left: 2.5rem;
	border: 0;
	margin: 0.5rem;
	width: 260px;
	height: 360px;
	transition: 0.5s;
}
.LYT-card-top {
	border-radius: 25px;
	position: relative;
	.LYT-news-card-img {
		width: 100%;
		object-fit: cover;
		border-radius: 40px;
	}
}
.LYT-card-body {
	display: flex;
	.LYT-card-body-right {
		display: flex;
		justify-content: end;

	}
	button {
		background-color: $primary;
		color: $primaryText;
		bottom: 10px;
	}
}

.LYT-hover-content {
	position: absolute;
	bottom: 12px;
	left: 0;
	width: 100%;
	background-color: $g-100;
	color: $primaryText;
	border-radius: 10px;
	padding: 10px;
	opacity: 0;
	transition: 0.5s;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 7;
	overflow: hidden;
	word-break: break-word;
	button {
		position: absolute;
		right: 15px;
		bottom: 5px;
		background-color: $primary;
		color: $primaryText;
		&:hover {
			background-color: $primary;
		}
	}
	&:hover {
		opacity: 1;
	}
}

@media (max-width: 767px) {
	.CTH-card {
		border: 0;
		margin: 10px;
		width: 220px;
		height: 320px;
		transition: 0.5s;
	}
}
