@import '@/styles/globals-var.scss';

.table {
	background: transparent;
	color: black;
	thead {
		background: $primary;
		color: white;
		width: 100%;
		height: 40px;
	}
	tbody {
		tr {
			// margin: 5px;
			height: 100px;

			&:hover {
				background: $p-100;
			}

			.table-photo {
				.photoContainer {
					position: relative;
					width: 100px;
					aspect-ratio: 1/1;
					.photo {
						object-fit: cover;
					}
				}
			}
			.table-descriptions {
				width: 30%;
				height: 100px;
				overflow: hidden;
			}
		}
	}
}
