@import '@/styles/globals-var.scss';

.LYT-sm-lesson {
	width: 320px;
	color: $primary;
	margin-bottom: 30px;
	button {
		color: $primary;
	}
	button:hover {
		color: $p-300;
	}
}

.LYT-sidebar-news {
	width: 200px;
	margin-right: 10px;
	white-space: normal;
	overflow-wrap: break-word;
	color: $primary;
	word-wrap: break-word;
	button {
		color: $primary;
	}
	button:hover {
		color: $p-100;
	}
}

// .LYT-class-box {
// 	width: 5rem;
// 	height: 65px;
// 	background-color: $primary;
// 	color: $primaryText;
// 	border-radius: 5px;
// 	margin: 5px;
// 	padding: 5px;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	align-self: center;
// }

.LYT-btn {
	// width: 40px;
	border: none;
	background-color: transparent;
}
