@import '@/styles/globals-var.scss';

.LYT-sm-lesson {
	color: $primary;
	margin-bottom: 30px;
	button {
		color: $primary;
	}
	button:hover {
		color: $p-300;
	}
}

.LYT-sidebar-news {
	width: 300px;
	margin-right: 10px;
	white-space: normal;
	overflow-wrap: break-word;
	color: $primary;
	word-wrap: break-word;
	button {
		color: $primary;
	}
	button:hover {
		color: $p-100;
	}
}

.LYT-time-box {
	width: 150px;
	height: 65px;
	background-color: $primary;
	color: $primaryText;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
}
