@import '@/styles/globals-var.scss';

.customFileUpload {
  background: $primary;
  color: $primaryText;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
  transition: all 0.3s ease;
  outline: none;
  border: none;

  &:hover {
    background-color: $secondary;
    box-shadow: 5px 5px 10px $primary, -5px -5px 10px $primaryText;
    transform: scale(1.05);
  }

  &:active {
    background-color: darken($secondary, 10%);
    transform: scale(0.95);
    box-shadow: inset 5px 5px 8px $primary;

  }
}
