@import '@/styles/globals-var.scss';
.CTH-card {
	border: 0;
	margin: 10px;
	width: 260px;
	height: 320px;
	transition: 0.5s;
	background-color: transparent;
}

.CTH-card-top {
	position: relative;
	border-radius: 25px;
	.CTH-lesson-card-img {
		width: 100%;
		object-fit: cover;
		border-radius: 25px;
	}
	.CTH-lesson-card-icon {
		color: $primary;
		position: absolute;
		bottom: 5px;
		right: 5px;
		cursor: pointer;
		z-index: 1;
	}
	.CTH-lesson-card-icon:hover {
		color: $p-100;
	}
}
.CTH-card-body {
	display: flex;
	position: relative;
	.CTH-card-body-right {
		align-self: flex-end;
	}
	button {
		position: absolute;
		right: 15px;
		bottom: 5px;
		background-color: $primary;
		color: $primaryText;
	}
}

.CTH-hover-content {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $g-100;
	color: $primaryText;
	border-radius: 10px;
	padding: 10px;
	opacity: 0;
	transition: 0.5s;
	button {
		position: absolute;
		right: 15px;
		bottom: 5px;
		background-color: $primary;
		color: $primaryText;
		&:hover {
			background-color: $primary;
			color: $primaryText;
		}
	}
	&:hover {
		opacity: 1;
	}
	.CTH-ellipsis {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3; // 行數
		-webkit-box-orient: vertical;
		white-space: normal;
	}
}

@media (max-width: 767px) {
	.CTH-card {
		border: 0;
		margin: 10px;
		width: 220px;
		height: 320px;
		transition: 0.5s;
	}
}
