.sidebar {
    width: 300px;
    height: 100vh;
    border-radius: 0px 184.5px 0px 0px;
    background: rgba(255, 218, 215, 0.50);
    backdrop-filter: blur(2px);
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    color: #fff;
  }
  
  .searchBar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
  }
  
  .filterOptions label {
    display: block;
    margin-bottom: 10px;
    color: white;
  }
  
  /* 收合按鈕 (三條白線) */
  .sidebarToggle {
    position: absolute;
    top: 50%;
    right: -20px; /* 放置在右側 */
    transform: translateY(-50%) rotate(90deg);
    cursor: pointer;
    background-color: transparent;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .line {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
  }
  