.navbar {
  background-color: #ffffff;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(247, 154, 154, 0.1);
  border-bottom: 1px solid #e0e0e0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

  .search {
    flex-grow: 1;
  }

  .liveBadge {
    background-color: #ff4d4f; /* 紅色 */
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-right: 1.5rem;
  }

  .iconGroup {
    display: flex;
    align-items: center;
    color: #666666;

    i {
      font-size: 1.5rem;
      margin: 0 0.5rem;
      cursor: pointer;

      &:hover {
        color: #333333;
      }
    }

    /* 用戶頭像圖標 */
    .mdi-account-circle-outline {
      border-radius: 50%;
      background-color: #f1f3f5;
      padding: 5px;
    }
  }
}
