.card {
    width: 185px;
    height: 300px;
	background-image: url('/photos/background/bg-teacherCard2.png');
	/* border-radius: 430px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background-repeat: no-repeat;
    padding: 0 20px 0 20px;
    border-radius: 100px;
    overflow: hidden;
}

.imgBox {
	height: 202px;
	width: 140px;
    top:20px;
    left: 0;
	position: relative;
	border-radius: 30px;
	overflow: hidden;
}

.imgBox img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.teacherTitle {
    display: flex;
    color: transparent; 
    -webkit-text-stroke-width: 0.6px; 
    -webkit-text-stroke-color: #fff; 
    letter-spacing: 4px;
    font-size: 20px; 
    font-weight: 600; 
    text-align: center; 
}

.teacherName {
    display: flex;
    color: transparent; 
    -webkit-text-stroke-width: 0.6px; 
    -webkit-text-stroke-color: #fff;
    letter-spacing: 2px;
    font-size: 20px; 
    font-weight: 600; 
    text-align: center; 
}
